@mixin btn-full {
    padding: .5em 1em;
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    border-radius: .3rem;
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    &:hover {
        background-color: $secondary-hover;
        border-color: $secondary-hover;
        cursor: pointer;
    }
};

@mixin btn-empty-dark {
    padding: .5em 1em;
    background-color: transparent;
    border: 1px solid $secondary-color;
    border-radius: .3rem;
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    &:hover {
        background-color: $secondary-hover;
        border-color: $secondary-hover;
        cursor: pointer;
    }
}

@mixin btn-empty-light {
    padding: .5em 1em;
    background-color: white;
    border: 1px solid $secondary-color;
    border-radius: .3rem;
    color: $secondary-color;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    &:hover {
        background-color: $secondary-hover;
        border-color: $secondary-hover;
        color: white;
        cursor: pointer;
    }
}

@mixin light-theme {
    .container-card {
        width: 340px;
        
        padding: 3rem;
        margin: 0 1rem;
        background-color: white;
        border-radius: .5rem;
        .container-icon {
            position: relative;
            width: 52px;
            height: 52px;
            padding: .5rem;
            display: inline-block;
            border-radius: 100px;
            overflow: hidden;
            color: $secondary-color;
            &::before {
                content: '';
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                background-color: $secondary-color;
                opacity: .15;
            }
            .icon {
                font-size: 36px;
            }
        }
        h2 {
          margin: .7rem 0;
          font-size: 22px;
          font-weight: 600;
          color: $title-color;
        }
        p {
          font-size: 16px;
          color: $title-color;
        }
      }
}

@mixin dark-theme {
    .container-card {
        width: 340px;
        
        padding: 3rem;
        margin: 1rem;
        background-color: #19191f;
        border-radius: .5rem;

        .container-icon {
            
            .icon {
                color: $secondary-hover;
                font-size: 36px;
            }
        }

        &:hover .icon {
            color: white;
        }
        
        h2 {
          margin: .7rem 0;
          font-size: 24px;
          font-weight: 600;
          color: white;
        }
        p {
          margin-bottom: 2rem;
          font-size: 16px;
          
        }
      }
}

@mixin section-title {
    color: $secondary-hover;
    font-weight: 600;
    font-size: 14px;
}